<div class="flex-shrink-0 p-3 bg-white" style="width: 140px;">
    <ul class="list-unstyled ps-0" style="margin-top: 4em">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                {{ 'category'|trans }}
            </button>
            <div class="collapse" id="home-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    {{ knp_menu_render(knp_menu_get('sidebar')) }}
                </ul>
            </div>
        </li>
    </ul>
</div>
