{% extends 'base.html.twig' %}

{% block body %}
    <section class="error-page">
        <p>
            Oops, We have a problem, but we are already fixing it.
            <a href="{{ path('app_main') }}"> Go back to home page</a>
        </p>
    </section>
{% endblock %}
