{% extends 'base.html.twig' %}

{% block body %}
    <section class="error-page">
        <h1>ACCESS DENIED</h1>
        <h1>403</h1>
        <p>
            Oops, You don't have permission to access this page.
            <a href="{{ path('app_main') }}"> Go back to home page</a>
        </p>
    </section>
{% endblock %}
